body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    transition: opacity 0.5s ease-in-out;
}

:root {
    --color-background: #23224a;
    --color-header: #23224a;
    --color-line: white;
    --color-text: #c8c8c8;
    --color-textButton: #f8f8f8;
    --color-border: #d7d7d7;
    --color-buttonTop: #616096;
    --color-buttonDown: #3f325f;
    --color-buttonTopHover: #8eb6e7;
    --color-buttonDownHover: #c9a1cd;


}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: var(--color-text);
    text-align: center;
}



.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 0;
}

.nav-item {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 1.1em;

}

.nav-item a {
    background-image: linear-gradient(var(--color-buttonTop), var(--color-buttonDown));
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: var(--color-textButton);
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: .9em;
    margin: 5px;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 5px 10px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;

}


.nav-item a:hover {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(var(--color-buttonTopHover), var(--color-buttonDownHover));
    color: var(--color-textButton);
    text-decoration: none;

}

.user-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vb;
    padding: 10px;
    background-color: var(--color-header);
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

#user-img {
    margin: 0;
    padding: 0;

}

.info-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

.main-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 100px;
}

.sidebar {
    width: 25%;
    padding: 10px;
}

.sidebar-item {
    margin-bottom: 10px;
}

.sidebar-item a {
    color: var(--color-text);
    /* Weiße Schriftfarbe für die Links */
    text-decoration: none;
    /* Keine Unterstreichung für die Links */
}






.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 100px auto;
    background-color: var(--color-header);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.login-header {
    text-align: center;
    color: var(--color-text);
}

.login-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.input {
    border-radius: 7px;
    padding: 5px;
}

.button {
    background-image: linear-gradient(var(--color-buttonTop), var(--color-buttonDown));
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--color-textButton);
    cursor: pointer;
    direction: ltr;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    height: 34px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.button:disabled {
    cursor: default;
    opacity: .3;
}

.button:hover {
    background-image: linear-gradient(var(--color-buttonTopHover), var(--color-buttonDownHover));
    border-color: #1482D0;
    text-decoration: none;
}

.button:active {
    background-image: linear-gradient(var(--color-buttonTopHover), var(--color-buttonDownHover));
    border-color: #006DBC;
    outline: none;
}

.button:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}







.user-creation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 20px auto;
    background-color: var(--color-header);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.creation-header {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.creation-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.creation-footer {
    text-align: center;
    padding: 10px;
}








.search-form-s {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: var(--color-header);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.search-header {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.search-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.search-footer {
    text-align: center;
    padding: 10px;
}





.creation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 100px auto;
    background-color: var(--color-header);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.creation-header {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.creation-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}






.search-form {
    width: 95%;
    margin: 20px auto;
    background-color: var(--color-header);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.search-header {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.search-header h2 {
    color: var(--color-text);
}

.search-body {
    padding: 20px;
}







/* Zusätzliche Styles für die Tabelle */



#example {
    width: 100%;
    margin: 0 auto;
}

#example th {
    background-color: var(--color-header);
    color: var(--color-text);
    padding: 10px;
    border: 1px solid var(--color-border);
}

#example td {
    padding: 8px;
    border: 1px solid var(--color-border);
}


.dataTables_paginate .fg-button {
    background-color: var(--color-header);
    color: var(--color-text);
    padding: 5px;
    margin: 10px;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 20px;
}

.tabellen-container {
    width: 80%;
    margin: 20px auto;
    overflow-x: auto;
    background-color: var(--color-header);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.tabellen-container table {
    width: 100%;
    border-collapse: collapse;
}

.tabellen-container th,
.tabellen-container td {
    padding: 8px;
    text-align: left;
    border: 1px solid var(--color-line);
}

.tabellen-container thead tr {
    background-color: rgba(240, 240, 240, 0.12);
}

.tabellen-container tbody tr:nth-child(even) {
    background-color: rgba(248, 248, 248, 0.12);
}

.tabellen-container table.dataTable thead th {
    color: var(--color-text);
}


img {
    width: 30px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}


.dataTables_wrapper .dataTables_info {
    margin-top: 10px;
    margin-left: 0 auto;
}




.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
    display: inline-block;
    vertical-align: middle;
}

.dataTables_wrapper .dataTables_length {
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_filter {
    margin-bottom: 10px;
    margin-left: 20px;
}

.dataTables_wrapper .dataTables_filter input {
    width: 200px;
    font-size: 1em;
}




.dataTables_wrapper .dataTables_paginate .fg-button {
    background-image: linear-gradient(var(--color-buttonTop), var(--color-buttonDown));
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: var(--color-text);
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: .9em;
    margin: 5px;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 5px 10px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.dataTables_wrapper .dataTables_paginate .fg-button:hover {
    background-image: linear-gradient(var(--color-buttonTop), var(--color-buttonDown));
    color: var(--color-text);
}






#tabellen-container {
    display: none;
}


/*LADEBALKEN*/

.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;

  }
  .loader:before {
    content:"Loading..."
  }
  @keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}


